.border-r {
  border: 2px solid red !important;
  padding: 2px;
  margin: 2px;
}

.border-b {
  border: 1px solid blue !important;
  padding: 1px;
  margin: 1px;
}

#medium-header-section {
  display: flex;
  justify-content: space-between;
  height: 100px;
}

#medium-hinzufügen-btn {
  height: 30px;
  width: 100px;
  border-style: none;
  border-radius: 3px;
  font-size: 16px;
  color: white;
  background-color: #4466e8;
}

#medium-hinzufügen-btn:hover {
  background-color: #365bea;
  cursor: pointer;
}

.table-header {
  color: #4c4c4c;
  font-weight: bold;
}

.medien-table-td {
  text-align: center;
  vertical-align: middle;
  width: 10%;
}

.medien-table-loeschen-td {
  width: 2.5%;
}

.loeschen-btn-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.loeschen-btn {
  background-color: transparent;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loeschen-btn:hover {
  cursor: pointer;
}

.loeschen-svg:hover {
  fill: #ff5c5c;
}

.decrement-btn,
.inkrement-btn {
  height: 20px;
  width: 20px;
  padding: 0;
  background-color: #001077;
  border: none;
  border-radius: 10px;
  color: white;

  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 18px;
  font-weight: bold;
  line-height: 0;
  cursor: pointer;
}


.update-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.flex-v-align {
  display: flex;
  align-items: center;
}

.mr-10 {
  margin-right: 10px;
}

h2 {
  margin: 0;
}
