<div id="uebersicht-container">
  <section id="aktuelle-medien-container" class="border-r">
    <div>
      <h3>Currently enjoying</h3>
      <!-- TODO: die divs später dynamisch rendern und aus dem Backend eine Map<String, List<String>> erstellen-->
      <div *ngFor="let entry of currentMedien | keyvalue">
        <h3>{{ entry.key }}</h3>

        <ul>
          <li *ngFor="let medium of entry.value">
            <ng-container *ngIf="entry.key == 'SERIE' || entry.key == 'ANIME'">
              {{ medium.titel }} - Folge {{ medium.currentFolge }}/{{ medium.folgen }}
            </ng-container>
            <ng-container *ngIf="entry.key == 'FILM'">
              {{ medium.titel }}
            </ng-container>
            <ng-container *ngIf="entry.key == 'MANGA' || entry.key == 'PODCAST'">
              {{ medium.titel }} - Kapitel {{ medium.currentKapitel }}/{{ medium.kapitel }}
            </ng-container>
            <ng-container *ngIf="entry.key == 'VIDEOSPIEL'">
              {{ medium.titel }} ({{ medium.platform }})
            </ng-container>
            <ng-container *ngIf="entry.key == 'BUCH'">
              {{ medium.titel }} - Seite {{ medium.currentSeite }}/{{ medium.seiten }}
            </ng-container>
          </li>
        </ul>
      </div>
    </div>
  </section>
  <section id="uebersicht-content-container" class="border-r">
    <div>
      <section>
        <div id="next-container" class="border-b">
          <div class="border-r">
            <!-- TODO: hier soll noch so ein Würfel-Icon sein-->
            <button id="next-media-btn" (click)="wuerfelCurrentMedien()">Was als nächstes?</button>
          </div>
          <div id="gewaehltes-medium-container"  class="border-r">
            <ng-container *ngIf="randomMedium != null">
              <div class="border-b">
                <p><span>{{randomMedium.titel}}</span></p>
              </div>
              <!-- TODO: Es sollen hier noch später die Medien gewürfelt werden können, die auf GEPLANT sind, maybe neuer Button dafür
              <div class="border-b">
                <button id="akzeptieren-btn" title="Medium X aktiv markieren">&#10003;</button>
              </div>
              -->
            </ng-container>
          </div>
        </div>
      </section>
    </div>
  </section>
</div>
