.border-r {
  border: 2px solid red;
  padding: 2px;
  margin: 2px;
}

.border-b {
  border: 2px solid blue;
  padding: 2px;
  margin: 2px;
}

#uebersicht-container {
  display: flex;
}

#aktuelle-medien-container {
  width: 25%;
  min-width: 25%;
}

#uebersicht-content-container {
  min-width: 75%;
}

#next-container {
  display: flex;
  gap: 10px;
}

#next-media-btn {
  height: 60px;
  background-color: whitesmoke;
  border: 2px solid #32a3ff;
  border-radius: 5px;
  color: black;
}

#akzeptieren-btn {
  width: 30px;
  height: 30px;
  padding: 0;
  vertical-align: center;

  color: white;
  background-color: #41cf22;
  border: 2px solid rgb(37, 197, 0);
  border-radius: 5px;
}

#gewaehltes-medium-container {
  display: flex;
  justify-content: center;
  align-items: center;

  font-weight: bold;
}

@media (max-width: 800px) {
  #uebersicht-container {
    flex-direction: column;
  }

  #aktuelle-medien-container {
    min-width: 100%;
  }
}
